body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Card */
.card {
  width: calc(33.33% - 20px);
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Inner card */
.inner-card {
  padding: 20px;
}
/* Image */
.card-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.screen {
  overflow: hidden;
  height: 200px;
  display: block;
  width: 100%;
  position: relative;
}

.screen img {
  bottom: -610px;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: top 11s;
  -moz-transition: top 11s;
  -ms-transition: top 11s;
  -o-transition: top 11s;
  transition: bottom 11s;
}
.screen:hover img {
  bottom: 0;
  -webkit-transition: all 11s;
  -moz-transition: all 11s;
  -ms-transition: all 11s;
  -o-transition: all 11s;
  transition: all 11s;
}
/* Description */
.card-description {
  margin-bottom: 15px;
}
/* Links */
.card-links a {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
}
.card-links a:hover {
  background-color: #0056b3;
}
/* Responsive */
@media (max-width: 900px) {
  .card {
    width: calc(50% - 20px);
  }
}
@media (max-width: 600px) {
  .card {
    width: calc(100% - 20px);
  }
}
