* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #0048ff9c;
  --radius: 3px;
}

body {
  display: grid;
  place-items: center;
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
  background-color: var(--primaryColor);
}
main {
  width: 90%;
  max-width: 400px;
  height: 210px;
  background-color: white;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  overflow: hidden;
  transition: 0.2s;
}
.show {
  height: 480px;
}

input {
  padding: 10px;
  font-size: 20px;
  border: 2px solid var(--primaryColor);
  border-radius: var(--radus);
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  background-color: var(--primaryColor);
  border: none;
  border-radius: var(--radus);
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

button:hover {
  background-color: #016caa;
  transform: scale(0.98);
}

.qrbox {
  text-align: center;
  padding: 10px;
  border-radius: var(--radus);
  border: 2px solid var(--primaryColor);
}

input[type="color"] {
  padding: 5px;
  border: 2px solid var(--primaryColor);
  border-radius: var(--radius);
  height: 40px; /* Adjust height to match other inputs/buttons */
  width: 100%; /* Ensure it takes the full width */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

@media screen and (max-width: 400px) {
  main {
    padding: 15px;
  }

  input[type="color"] {
    height: 30px; /* Adjust for smaller screens */
  }
}
