body {
  background-color: rgb(179, 136, 96);
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

h1 {
  font-size: xx-large;
  font-weight: 600;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
}
